@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

html, body {
  height: 100%; }

ol, ul {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

header {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

.logo {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  padding: 0 0 0 20px;
  text-transform: capitalize; }

.container {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.mapboxgl-ctrl-attrib.mapboxgl-ctrl {
  display: none; }

.table {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  table-layout: auto;
  transition: .75s ease-in-out; }
  .table > thead > tr, .table > tbody > tr, .table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    text-align: left;
    padding: .5rem;
    font-size: .6rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #000;
    text-align: center; }
  .table > thead > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .table > caption + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > th,
  .table > thead:first-child > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .table > thead:first-child > tr:first-child > th {
    width: 100px; }
  .table > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .table .no-border {
    border: 0; }

.hide {
  display: none; }

.show {
  display: block; }

.material-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  width: 25%;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: none; }

.mapboxgl-popup-close-button {
  padding: 5px; }

.mapboxgl-popup-content h1 {
  margin-bottom: 20px; }

#map {
  position: fixed; }

.marker {
  height: 20px;
  width: 20px;
  background-color: #42b7b2;
  border: 2px solid #fff;
  border-radius: 10px; }

.mapboxgl-popup {
  max-width: 400px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.maki-icon {
  background-color: red !important; }

.flyby .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  display: none; }

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  width: 25%;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: none; }

body {
  font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; }

#home .card-header {
  background-image: url("../img/image-1.jpg"); }

#welcome .card-header {
  background-image: url("../img/image-2.jpg"); }

#listing1 .card-header {
  background-image: url("../img/image-3.jpg"); }

#listing2 .card-header {
  background-image: url("../img/image-4.jpg"); }

#listing3 .card-header {
  background-image: url("../img/image-5.jpg"); }

#listing4 .card-header {
  background-image: url("../img/image-6.jpg"); }

#listing5 .card-header {
  background-image: url("../img/image-7.jpg"); }

#home footer {
  background-image: url("../img/image-7.jpg"); }

#welcome footer {
  background-image: url("../img/image-6.jpg"); }

#listing1 footer {
  background-image: url("../img/image-5.jpg"); }

#listing2 footer {
  background-image: url("../img/image-4.jpg"); }

#listing3 footer {
  background-image: url("../img/image-3.jpg"); }

#listing4 footer {
  background-image: url("../img/image-2.jpg"); }

#listing5 footer {
  background-image: url("../img/image-1.jpg"); }

.viewport {
  position: absolute;
  bottom: 0px;
  width: 100%; }
  .viewport .listings {
    position: absolute;
    left: 50%;
    margin-left: -40%;
    border-radius: 10px;
    bottom: 0px; }
    .viewport .listings .card, .viewport .listings .card section {
      height: 100%; }
      .viewport .listings .card .card, .viewport .listings .card section .card {
        position: absolute;
        width: 100%; }
      .viewport .listings .card .card-header, .viewport .listings .card footer, .viewport .listings .card section .card-header, .viewport .listings .card section footer {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%; }
      .viewport .listings .card footer, .viewport .listings .card section footer {
        height: 45px; }
    .viewport .listings .expanded {
      height: 500px;
      transform: translateY(-60%) !important; }
      .viewport .listings .expanded .card-content {
        height: 200px;
        margin-top: -280px; }
    .viewport .listings .card-content {
      padding: 10px 0px;
      margin-top: -70px;
      height: 70px;
      position: relative;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      transition-property: all;
      transition-duration: .65s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
      .viewport .listings .card-content article p {
        color: rgba(255, 255, 255, 0.75); }
    .viewport .listings section {
      line-height: 25px;
      font-size: 13px; }
  .viewport li {
    list-style: none;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid grey;
    line-height: 300px;
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
    cursor: default;
    max-height: 500px;
    /* approximate max height */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
    .viewport li.in-deck:nth-child(3) {
      top: 2px;
      transform: translate(2px, 2px) rotate(0.4deg); }
    .viewport li.in-deck:nth-child(2) {
      top: 4px;
      transform: translate(-4px, -2px) rotate(-1deg); }

@media screen and (min-width: 1025px) {
  .viewport .listings {
    width: 20%; } }
@media screen and (max-width: 1024px) {
  .viewport .listings {
    width: 40%; } }
@media screen and (min-width: 768px) {
  .viewport .listings {
    width: 60%; } }
@media screen and (max-width: 767px) {
  .viewport .listings {
    width: 80%;
    height: 200px; }
    .viewport .listings li {
      width: 100%;
      height: 100%; } }

/*# sourceMappingURL=styles.css.map */
