*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  width: 25%;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: none; }

.mapboxgl-popup-close-button {
  padding: 5px; }

.mapboxgl-popup-content h1 {
  margin-bottom: 20px; }

#map {
  position: fixed; }

.marker {
  height: 20px;
  width: 20px;
  background-color: #42b7b2;
  border: 2px solid #fff;
  border-radius: 10px; }

.mapboxgl-popup {
  max-width: 400px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.maki-icon {
  background-color: red !important; }

.flyby .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  display: none; }

.active {
  display: block !important; }

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  width: 25%;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: none; }

body {
  font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; }

#home .card-header {
  background-image: url("../img/image-1.jpg"); }

#welcome .card-header {
  background-image: url("../img/image-2.jpg"); }

#listing1 .card-header {
  background-image: url("../img/image-3.jpg"); }

#listing2 .card-header {
  background-image: url("../img/image-4.jpg"); }

#listing3 .card-header {
  background-image: url("../img/image-5.jpg"); }

#listing4 .card-header {
  background-image: url("../img/image-6.jpg"); }

#listing5 .card-header {
  background-image: url("../img/image-7.jpg"); }

.viewport {
  position: relative;
  height: 100%;
  width: 100%; }
  .viewport .listings {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    border-radius: 10px; }
    .viewport .listings .card, .viewport .listings .card section {
      height: 100%; }
      .viewport .listings .card .card-header, .viewport .listings .card section .card-header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%; }
    .viewport .listings .card-content {
      height: 30%;
      padding: 10px;
      margin-top: -20%;
      color: white;
      background: rgba(0, 0, 0, 0.5); }
      .viewport .listings .card-content article p {
        color: rgba(255, 255, 255, 0.75); }
    .viewport .listings section {
      line-height: 25px;
      font-size: 13px; }
  .viewport li {
    width: 200px;
    height: 300px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid grey;
    line-height: 300px;
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
    cursor: default; }
    .viewport li.in-deck:nth-child(3) {
      top: 2px;
      transform: translate(2px, 2px) rotate(0.4deg); }
    .viewport li.in-deck:nth-child(2) {
      top: 4px;
      transform: translate(-4px, -2px) rotate(-1deg); }

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  li#welcome {
    background-color: blue; } }
@media all and (max-width: 420px) {
  /* phones */
  .viewport .listings {
    width: 90%;
    height: 33%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -45%;
    border-radius: 10px; }
    .viewport .listings li {
      width: 100%;
      height: 100%; } }

/*# sourceMappingURL=styles.css.map */
