@import url(https://fonts.googleapis.com/css?family=Lato);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

ol, ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}


header {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  padding: 0 0 0 20px;
  text-transform: capitalize;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
