body {
  font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
}

#home .card-header { background-image: url("../img/image-1.jpg"); }
#welcome .card-header { background-image: url("../img/image-2.jpg"); }
#listing1 .card-header { background-image: url("../img/image-3.jpg"); }
#listing2 .card-header { background-image: url("../img/image-4.jpg"); }
#listing3 .card-header { background-image: url("../img/image-5.jpg"); }
#listing4 .card-header { background-image: url("../img/image-6.jpg"); }
#listing5 .card-header { background-image: url("../img/image-7.jpg"); }


.viewport {
  position: relative;
  height: 100%;
  width: 100%;
  .listings {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    border-radius: 10px;
    .card, .card section{
      height: 100%;
      .card-header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
      }
    }
    .card-content {
      height: 30%;
      padding: 10px;
      margin-top: -20%;
      color: white;
      background: rgba(0,0,0,.5);
      article p {
        color: rgba(255,255,255,.75);
      }
    }
    section {
      line-height: 25px;
      font-size: 13px;
    }
  }
  li {
    width: 200px;
    height: 300px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid grey;
    line-height: 300px;
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
    cursor: default;
    &.in-deck {
      &:nth-child(3) {
        top: 2px;
        transform: translate(2px, 2px) rotate(0.4deg);
      }
      &:nth-child(2) {
        top: 4px;
        transform: translate(-4px, -2px) rotate(-1deg);
      }
    }
  }
}
