// Testing new method of media queries rather than traditional "alternate reality" stylesheets

$breakpoint-small: 767px;
$breakpoint-med-small: 768px;
$breakpoint-med: 1024px;
$breakpoint-large: 1025px;


@mixin screen($size, $type: max, $pixels: $breakpoint-small) {

  @if $size == 'small' {
    @media screen and ($type + -width: $breakpoint-small) {
        @content;
    }
  }

  @else if $size == 'med-small' {
    @media screen and (min-width: $breakpoint-med-small) {
        @content;
    }
  }

  @else if $size == 'med' {
    @media screen and ($type + -width: $breakpoint-med) {
        @content;
    }
  }

 @else if $size == 'large' {
    @media screen and (min-width: $breakpoint-large) {
        @content;
    }
  }

  @else if $size == 'custom' {
    @media screen and ($type + -width: $pixels + px) {
     @content;
    }
  }

  @else {
    @content;
  }
}

.viewport .listings {
  @include screen(large) {
    width: 20vw;
  }
  @include screen(med) {
    width: 40vw;
  }
  @include screen(med-small) {
    width: 60vw;
  }
  @include screen(small) {
    width: 80vw;
    height: 30vh;
    li{
      width: 100%;
      height: 100%;
    }
  }
  @include screen(custom, max, 400) {
    // width: 100%;
  }
}
